@import "variables.scss";

nav {
	.container-fluid {
		#bs-example-navbar-collapse-1 {
		  display: flex !important;
		  justify-content: center;

		  ul.nav {
		  	li.dropdown.open .dropdown-menu {
		  		display:block;
		  	}
		  }
		}
	}
}